{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name }}, {{ author.last_name }}</h1>
  <p>{{author.date_of_birth}} - </p>

  <h4> Books</h4>
  
  <p>{{ book.summary }}</p>

  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    
  </div>

  <h3>
<div style="margin-top: 50px">
  <a href="{% url 'author-update' author.id %}">Update {{author.first_name}} {{author.last_name}}'s details </a>
</div>
</h3>

<h3>
  <div style="margin-top: 50px">
    <a href="{% url 'author-delete' author.id %}">Delete {{author.first_name}} {{author.last_name}}'s details </a>
  </div>
  </h3>
{% endblock %}